body{
  display : flex;
  justify-content : center;
  align-items : center;
  background : #BA70E5;
  height : 100vh;
}

#box{
  position : relative;
  display : flex;
  justify-content : center;
  align-items : center;
  height : 200px;
  width : 200px;
  overflow : hidden;
  border-radius : 50%;
}

#content{
  display : flex;
  justify-content : center;
  align-items : center;
  color : #770436;
  font-size : 60px;
  background : #BA70E5;
  z-index : 100;
  width : 97%;
  height : 97%;
  border-radius : 50%;
}

#rotate{
  position : absolute;
  width : 200%;
  height : 60px;
  background : linear-gradient(to left, #E3F7F5, #D10638);
  z-index : 50;
  animation : 3s infinite reverse linear turn
}

@keyframes turn{
  0%{
    transform : rotate(0turn)
  }
  100%{
    transform : rotate(-1turn)
  }
}
